*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
:root{
    --layout-main-width: 1088px;
}
/* header -------------------------------------------------*/
header{
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.3);
    /* height: 90px; */
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.header-container{
    /* border: 1px solid white; */
    height: 100%;
    width: var(--layout-main-width); 
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-logo{
    display: flex;
    gap: 10px;
}
.header-text{
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.header-text span{
    color: #FF0000;
    padding-right: 5px;
}
.header-logo-img{
    width: 31px;
}
nav{
    display: flex;
    align-items: center;
}
.nav-link{
    color: #FFFFFF;
    text-transform: uppercase; /*globalene ustawienia dla linków  zrobić*/
    font-size: 16px;
    font-weight: 700; /*bold- 700*/
    text-decoration: none;
    padding: 33px ;
    position: relative;
    z-index: 1;
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

/* container top------------------------------------------- */
.hero{
    /* width: 100vw; */
    height: calc(100vh - 55px * 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Image.png");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}
.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    
}
.hero-title{
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.hero-text{
    font-size: 16px;
    color: #ffffff;
    width: 1046px;
    text-align: center;
    margin: 10px;
    position: relative;
    z-index: 1;
}
.hero-buttons-wrapper{
    display: flex;
    gap: 25px;
    margin-top: 54px;
}
.hero-btn{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 22px 55px;
    background-color: #FF0000;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}
.hero-btn:nth-child(2){
    background-color: #ffffff;
    color: #ff0000;
}
.hero-circle{
    width: 55px;
    height: 55px;
    background-color: #FF0000;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: translate( -50% , 50%);
}
/* blog section ---------------------------------------------------*/
.blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.blog-title{
    margin-top: 90px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}
.blog-title::before{
    content: "";
    width: 50px;
    height: 4px;
    background-color: #FF0000;
    
    display: inline-block;
}
.blog-title::after{
    content: "";
    width: 50px;
    height: 4px;
    background-color: #FF0000;
    display: inline-block;
}

.article{
    width: 352px;
    height: 440px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-articles-wrapper{
    width: var(--layout-main-width);
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.article-title{
    font-size: 19px;
    color: #6A6A6A;  
}
.article-text{
    font-size: 14px;
    color: #6A6A6A;
}
.article-btn{
    padding: 10px 30px;
    color: #ffffff;
    background-color: #ff0000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 40px;
    align-self: flex-start;
    box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.302);
}
/* service section -------------------------------------------------*/
.service{
    background-color: #28272C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.service-wrapper{
    display: flex;
    width: var(--layout-main-width);
    justify-content: space-between;
    margin-bottom: 110px;
}
.service-article{
    margin-top: 75px;
    width: 231px;
    height: 360px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.service-btn{
    padding: 10px 30px;
    color: #ffffff;
    background-color: #ff0000;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 40px;
    
    box-shadow: 0px 3px 6px #FF00004D;
}
.srv-title{
    color: #ffffff;

}
.service-title{
    color: #ffffff;
}
.service-text{
    color: #ffffff;
    opacity: 0.5;
}
/* contact section --------------------------------------------------*/
.contact{
    margin: 0 auto;
    width: 900px;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-contact{
    display: flex;
    gap: 20px;
}
.inputs-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/* custom checkbox **********************************/
.custom-checkbox input[type="checkbox"] {
    display: none;
}
.contact-title{
    margin-top: 0;
    margin-bottom: 35px;
}
.custom-checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-size: 10px;
    color: rgba(178, 178, 178, 1);
}
.custom-checkbox label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 18px;
    transform: translateY(-50%);
    border: 2px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
}
.custom-checkbox input[type="checkbox"]:checked + label::before {
    background-image: url(../images/Icon\ Check.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* custom checkbox end  *************************** */

.inputs-wrapper input[type="text"], 
.inputs-wrapper input[type="email"],
.inputs-wrapper textarea
{
    padding: 13px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid rgba(209, 209, 209, 1) ;
    font-family: "Nunito Sans", sans-serif;;
}
.inputs-wrapper input[type="text"]:focus, 
.inputs-wrapper input[type="email"]:focus,
.inputs-wrapper textarea:focus
{
    border: 1px solid #ff0000;
    box-shadow: 0px 1px 6px rgba(255, 0, 0, 0.3);
}
.inputs-wrapper input[type="submit"]{
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ff0000;
    padding: 10px 50px;
    border: 1px solid #FF0000;
    border-radius: 40px;
    background-color: #ffffff;
    align-self: flex-end;
    margin-top: 15px;
    box-shadow: 0px 3px 6px #FF00004D;
}
.contact-img{
    align-self: flex-start;
}
/* footer------------------------------------------- */
footer{
    width: 100%;
    height: 230px;
    background-color: #28272C;
    color: #ffffff;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 20px;
}
.footer-links-container a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 0;
}
.footer-links-container a:hover{
    color: #ff0000;
}

.footer-links-wrapper{
    display: flex;
    gap: 40px;
}
.footer-copyright-container{
    color: #D1D1D1;
    flex-grow: 1;
    align-self: flex-end;
    text-align: right;
    font-size: 12px;
}
.footer-wrapper{
    width: var(--layout-main-width);
}
.footer-logo-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-logo-container span{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
.footer-logo-container span:nth-of-type(1){
    color: #ff0000;
}
.footer-logo-container img{
    width: 22px;
}
.scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.5;
  }
/* scroll to top button---------------------------------------- */
  .scrollToTopBtn:hover {
    background-color: rgb(0, 0, 0);
  }
  .scroll-btn{
    transform: rotate(180deg);
  }
  